.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: rgba(17, 17, 17, 0.05); */
    background: #FFF;
    padding: 1rem 120px;
    height: 90px;
    width: 100%;
}

.nav-links {
    display: flex;

    justify-content: space-between;
    width: 100%;
    max-width: 240px;
}
.nav-links li {
    list-style: none;
    cursor: pointer;
    font-size: 16px;
}
.nav-links a{
    text-decoration: none;
    color: #222;
    cursor: pointer;
    font-size: 16px;
}
.hamburger {
    display: none;
}

@media  (max-width: 986px) {
    .navbar {
        padding: 1rem 24px;
    }
}
@media  (max-width: 786px) {
    .navbar {
        padding: 1rem;
    }
    .nav-links {
        display: none;
    }
    .hamburger {
        display: flex;
    }
}