.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: rgba(17, 17, 17, 0.05); */
    background: #082471;
    padding: 1rem 120px;
    height: 80px;
    width: 100%;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 240px;
}
.hamburger {
    display: none;
}

@media  (max-width: 780px) {
    .navbar {
        padding: 1rem 24px;
    }
}
@media  (max-width: 780px) {
    .navbar {
        padding: 1rem;
    }
    .nav-links {
        display: none;
    }
    .hamburger {
        display: flex;
    }
}