.editorial {
    background: #FFF !important;
    /* align-items: center; */
}

.editor-header-container {
    background-image: url(../../Images/bg-3.jpg);
}
.editors-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem 120px;
    color: #333;
    /* margin: auto; */
}
.editors {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 2fr));
    align-items: center;
    justify-items: center;
    align-content: center;
    width: 100%;
    column-gap: 4rem;
    row-gap: 4rem;
    /* margin: auto; */
}
.editor {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.editor h6 {
    font-family: 'League Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0.03em;
    padding: 12px 2rem;
    color: #1a1a1a;
    border-left: 4px solid #083387;
}
.editor p {
    padding-left: 2rem;
    font-size: 20px;
    color: #555555;
}


.contact-editorial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #08328730;
    border-radius: 10px;
    min-height: 350px;
    margin: 4rem 120px;
    margin-top: 0;
}
.contact-editorial h4 {
    font-family: 'League Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: #1a1a1a;
    /* letter-spacing: 0.03em; */
}
.contact-editorial p {
    text-align: center;
    max-width: 900px;
    margin-top: 1rem;
    font-size: 18px;
    line-height: 28px;
    color: #333;
}
.contact-editorial button {
    background: #083387;
    color: #FFF;
    border-radius: 8px;
    font-family: 'League Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 0.02em;
    outline: none;
    border: none;
    cursor: pointer;
    width: 300px;
    padding: .7rem;
    margin-top: 1.5rem;
}

@media (max-width: 786px) {
    .editors-container {
        padding: 4rem 1rem;
        padding-bottom: 2rem;
        align-items: flex-start;
        align-content: flex-start;
    }
    .editors { 
        justify-items: flex-start;
    }
    .editor h6 {
        font-size: 28px;
    }
    .editor p {
        font-size: 18px;
    }
    .contact-editorial {
        padding: 3rem 1rem;
        margin: 4rem 1rem;
    }
    .contact-editorial p {
        font-size: 16px;
    }
}