.faq-container {
    display: flex;
    flex-direction: column;
    padding: 8rem 120px;
}

.faq-container header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.faq-container header h4 {
    font-family: 'League Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: #1a1a1a;
}
/* .faq-container header p {

} */

.faqs {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(47%, 1fr));
    justify-content: center;
    /* width: 100%; */
    column-gap: 2rem;
    row-gap: 2rem;
}
.faq {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.faq .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faq-question h5 {
    font-family: 'League Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 43px;
    color: #1a1a1a;
    font-stretch: 84;
}
.faq-question button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #017aff;
    border-radius: 50px;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 24px;
    cursor: pointer;
}

.faq-answer {
    display: none;
    transform: translateY(100%);
    margin-top: 1rem;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #1a1a1a;
    max-height: 0px;
}
.faq-answer.shows {
    display: flex;
    height: auto;
    max-height: 999px;
    transition: all 0.3s linear;
    transform: translateY(0);
}
@media (max-width: 986px) {
    .faq-container {
        padding: 6rem 1.5rem;
    }
}
@media (max-width: 786px) {
    .faq-container {
        padding: 6rem 1rem;
    }
    .faq-container header h4 {
        font-size: 42px;
    }
    .faq-question h5 {
        font-size: 24px;
    }
    .faq {
        padding: 1rem;
    }
}