.heroe-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-blend-mode: multiply;
    background-image: url(../../Images/bg-5.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
}
.heroe-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 700px;
    margin: auto;
}
.heroe-contents article {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heroe-contents article h2 {
    font-family: 'League Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    color: #FFF;
    line-height: 86px;
    text-align: center;

}
.heroe-contents article p {
    max-width: 500px;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #F0F0F0;
    margin-top: .5rem;
}
.heroe-cta {
    display: flex;
    column-gap: 1rem;
    margin-top: 2rem;
    width: 100%;
    max-width: 500px;
}
.heroe-cta button {
    font-family: 'Encode Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    height: 60px;
    /* padding: .8em 3rem; */
    background: #017aff;
    color: #F0F0F0;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #017aff;
    border-radius: 5px;
}
.heroe-cta button:nth-child(2) {
    background: none;
}
.heroe-cta button .iconify {
    font-size: 24px;
    margin-right: .5rem;
    color: #FFF;
}

@media (max-width: 786px) {
    .heroe-contents {
        padding: 1rem;
    }
    .heroe-contents article h2 {
        font-size: 48px;
        line-height: 62px;
    }
    .heroe-contents article p {
        font-size: 16px;
    }
}