.how-it-works-container  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8rem 120px;
}

.how-it-works-container header {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 100%;
    max-width: 850px;
}
.how-it-works-container header h3 {
    font-family: 'League Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    color: #1a1a1a;
}

.how-it-works {
    display: flex;
    column-gap: 2rem;
    margin-top: 4rem;
}
.how-it-work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border:1px solid #4061A2;
    border-radius: 5px;
    color: #333;
    height: 400px;
    padding: 2rem 1.5rem;
}
.how-it-work img {
    fill: white;
}
.how-it-work h6 {
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-align: left;
    color: #1A1A1A;
    margin-top: 2rem;
}
.how-it-work p {
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #333;
    margin-top: 1.5rem;
}


@media (max-width: 986px) {
    .how-it-works-container {
        padding: 6rem 1.5rem;
    }
}

@media (max-width: 786px) {
    .how-it-works-container {
        padding: 6rem 1rem;
    }
    .how-it-works-container header h3 {
        font-size: 42px;
        line-height: normal;
    }
    .how-it-works {
        flex-direction: column;
        row-gap: 2rem;
    }
}